@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f8f9fa;
  overflow: hidden; /* Prevent double scrollbars */
}

.accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
}

.accordion-content.open {
  max-height: 1000px; /* Adjust as needed */
}

/* For mobile sidebar transition */
.sidebar-transition {
    transition: transform 0.3s ease-in-out;
}