@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f8f9fa;
  overflow: hidden; /* Prevent double scrollbars */
}

.accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
}

.accordion-content.open {
  max-height: 1000px; /* Adjust as needed */
}

/* For mobile sidebar transition */
.sidebar-transition {
    transition: transform 0.3s ease-in-out;
}

/* New styles for Toast component */
@keyframes toast-in {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes toast-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.toast-enter {
  animation: toast-in 0.3s ease-out forwards;
}

.toast-exit {
  animation: toast-out 0.3s ease-in forwards;
}
